@font-face {
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype')
	font-weight: 200
	font-style: normal
}

@font-face {
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')
	font-weight: 300
	font-style: normal
}

@font-face {
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype')
	font-weight: 300
	font-style: italic
}

@font-face {
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype')
	font-weight: 400
	font-style: normal
}

@font-face {
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
	font-weight: 600
	font-style: normal
}

@font-face {
	font-family: 'Roboto'
	src: url('/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype')
	font-weight: 600
	font-style: italic
}


// @font-face {
// 	font-family: 'Sensei-Medium'
// 	src: url('/assets/fonts/decorative/Sensei-Medium.ttf') format('truetype')
// 	font-weight: normal
// 	font-style: normal
// }