@import "_fonts"


body
	background url('assets/logo.svg')
	font-family Roboto
	font-weight 200
	font-size 16px
	color #424242
.example
	color red
.important
	font-weight bold

.comments-box
	margin 15px 10px
	background white

.main-title
	font-size 18px
	font-weight 500

.comment
	// border 1px solid black
	margin 10px 0 0 10px
	padding 8px 10px
	background #ebebeb//#E0E0E0//#f5f5f5
	box-shadow: 1px 1px 2px #6b6b6b//#343434;
	border-radius: 3px;
	position relative
	&:before
		content ''
		position absolute
		height 30px
		width 10px
		top 5px
		left 0
		background url(/assets/comment.svg)
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: translate(-100%, 0);
.comment__user
	font-size 14px
	font-weight 400
	margin-right 8px
.comment__date
	font-size 12px
	line-height 16px
	font-weight 200
	// font-style italic
	color #7e7e7e
.comment__info-box
	display flex
.comment__content
	margin 6px 0 0 0
	text-align: justify;